<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pokedex</title>
</head>
<body>
    <a href="/">Pokedex</a>
    <a href="/trainer">Trainer</a>
    <a href="/trainerHas">Trainer Has</a>
    <a href="/type"> Type</a>
    <a href="/region"> Region</a>

    {{{body}}}

</body>
</html>
