<h1> Region </h1>

<table id = "regionTable"> 
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.region1}}</td>
            <td>{{this.region2}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add Region</h2>
<p>Found a pokemon from a new region? Add those regions here!</p>
<form id="addregion">
    <label for="region1Input">Region 1: </label>
    <input type="text" name="region1Input" id="region1Input">

    <label for="region2Input">Region 2: </label>
    <input type="text" name="region2Input" id="region2Input">

    <input type="submit">
</form>

<script src="./js/addregion.js"></script>