<h1> Types </h1>

<table id="typesTable"> 
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.type1}}</td>
            <td>{{this.type2}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<div id="search">
<form method="GET" id="searchType" action="/type/search">
  <label for="input-search"> <strong>Search by Type</strong> </label>
  <input type="text" name="searchingtype">

  <input class="btn" type="submit" id="submitSearch" value="Search for Type">
  <button onclick="window.location.href='/type'">Reset</button> 

</form> 
</div>


{{!-- Form to add pokemon types to the pokedex --}}
<h2>Add Pokemon Type</h2>
<p>Discovered a new pokemon type? Well add it to our database</p>
<form id="addType">
    <label for="type1Input"> Type1: </label>
    <input type="text" name="type1Input" id="type1Input">

    <label for="type2Input"> Type2: </label>
    <input type="text" name="type2Input" id="type2Input">
    
    <input type="submit">
</form>

{{!-- this is our java to handle the DOM manimplation and AJAX request --}}
<script src="./js/addpokemontype.js"></script>
