<h1> Types </h1>

<table> 
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.type1}}</td>
            <td>{{this.type2}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>